<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      html, body, div, span, img {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        line-height: 1;
      }
      img {
        float: left;
      }
    </style>

    <title>Good Monday Invitation</title>
  </head>
  <body>
    <img src="images/01_640.jpg" />
    <img src="images/02_640.jpg" />
    <img src="images/03_640.jpg" />
    <img src="images/04_640.jpg" />
  </body>
</html>